/server/client/node_modules/
/server/client/dist/
/server/client/healthcare.sublime-project
/server/client/healthcare.sublime-workspace
/server/client/src/bower_components/

/server/src/main/webapp/

target/
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
