@import "variables.less";
@import "authorization.less";
@import "authorized.less";
@import "account.less";

body.pace-running {
	z-index: 10000;
}

table {
	tbody {
		td.actions > div {
			cursor: pointer;
			color: @easter-blue;

			&:hover {
				color: @bay-of-many;
			}
		}
	}
}

#medical-history-detail {
	.row.helping-data, .row.description {
		font-size: 15px;
	}
}
